<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="assets/images/favicon.ico">
    <title>Log(In)</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
    html,
    body {
      height: 100%;
    }

    body {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }

    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    .form-signin .checkbox {
      font-weight: 400;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    </style>
  </head>

  <body class="text-center" style="background-color: #333;">
    <form class="form-signin" method="POST" action="/l">
      <img class="mb-4" src="assets/images/lawliet.png" alt="lawliet logo" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal" style="color:white">Log In</h1>
      <label class="sr-only">Username</label>
      <input name="username" type="text" class="form-control" placeholder="Username..." required autofocus>
      <label class="sr-only">Password</label>
      <input name="password" type="password" class="form-control" placeholder="Password...">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Using Twitter Access Log Format.
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" style="background-color: black;border: 1px solid;" type="submit">Sign In</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    </form>
  </body>
</html>
